@inherits LayoutComponentBase
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div>
                Filtrer på dato:
                <input type="date" placeholder="dato fra" value=@startDate()/>
                til: 
				<input type="date" placeholder="dato til" value=@endDate() />
            </div>
            
            <a href="AddingEducator"><i id="profile" class="bi bi-person" style="font-size: 2rem;">
                <span id="profileHelp">Edit profile</span>
            </i></a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {


    private string startDate()
    {
        // Default to start of current school year
        int currentYear = System.Convert.ToInt32(DateOnly.FromDateTime(DateTime.Now).ToString("yyyy"));
        int currentMonth = System.Convert.ToInt32(DateOnly.FromDateTime(DateTime.Now).ToString("MM"));

        string startDate = $"{currentYear.ToString()}-01-01";

        if (currentMonth > 6)
        {
            startDate = $"{currentYear.ToString()}-08-01";
        }
        else
        {
            currentYear -= 1;
            startDate = $"{currentYear.ToString()}-08-01";
        }

        return startDate;
    }

    private string endDate()
    {
        int currentYear = System.Convert.ToInt32(DateOnly.FromDateTime(DateTime.Now).ToString("yyyy"));
        int currentMonth = System.Convert.ToInt32(DateOnly.FromDateTime(DateTime.Now).ToString("MM"));

        string endDate = $"{currentYear.ToString()}-01-01";
        if (currentMonth > 6)
        {
            currentYear += 1;
            endDate = $"{currentYear.ToString()}-06-30";
        }
        else
        {
            endDate = $"{currentYear.ToString()}-06-30";
		}
		return endDate;
    }

}
