@page "/profile"
@using System.ComponentModel.DataAnnotations
@using Classes
@inject EducatorList educators
@rendermode InteractiveServer

<!--Mulig døpe om denne siden til profile
	koble denne lokale klassen og formen til en global klasse og service for å lagre data i database
	Kanskje lagre den i en liste i en service. 
-->
<PageTitle>Profile</PageTitle>

<h1>Profil</h1>
<EditForm Model="inputModel" class="form-container">
	<input type="text" class="form-control" placeholder="Fornavn" @bind="inputModel.FirstName" />
	<input type="text" class="form-control" placeholder="Etternavn" @bind="inputModel.LastName" />
	<input type="email" class="form-control" placeholder="E-post" @bind="inputModel.Email" />
	<input type="date" class="form-control" placeholder="fødselsdato" @bind="inputModel.BirthDate" />

	<input type="text" class="form-control" placeholder="Utdanningsbakgrunn" @bind="inputModel.EducationBackground" />
	<input type="text" class="form-control" placeholder="Spesialisering" @bind="inputModel.Specialization" />
	<button class="form-button" >Submit</button>
</EditForm>

@code {
	private class InputModel
	{
		[Required]
		public string FirstName { get; set; } = string.Empty;
		[Required]
		public string LastName { get; set; } = string.Empty;
		[Required]
		[EmailAddress]
		public string Email { get; set; } = string.Empty;
		[Required]
		public DateOnly BirthDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);
		[Required]
		public string EducationBackground { get; set; } = string.Empty;
		[Required]
		public string Specialization { get; set; } = string.Empty;		
	}

	private InputModel inputModel = new InputModel();
}
