@page "/addingeducator"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer


<PageTitle>Adding Educator</PageTitle>

<h1>Legg til fagperson</h1>
<EditForm Model="educator">
	<input type="text" placeholder="Fornavn" @bind="educator.firstName" />
	<input type="text" placeholder="Etternavn" @bind="educator.lastName" />
	<input type="email" placeholder="E-post" @bind="educator.email" />
	<input type="date" placeholder="fødselsdato" @bind="educator.birthDate" />
	<input type="text" placeholder="Fagenhet" @bind="educator.subjectUnit" />
	<input type="text" placeholder="Utdanningsbakgrunn" @bind="educator.Education" />
	<input type="text" placeholder="Spesialisering" @bind="educator.Specialization" />
	<button class="btn-primary" >Submit</button>
</EditForm>


@code {
	public class Educator {
		[Required]
		public required string firstName { get; set; } = string.Empty;
		public required string lastName { get; set; } = string.Empty;
		public required DateTime birthDate { get; set; }
		public required string email { get; set; } = string.Empty;
		public required string subjectUnit { get; set; } = string.Empty;
		public required string Education { get; set; } = string.Empty;
		public required string Specialization { get; set; } = string.Empty;
	}

	public Educator educator = new Educator
		{
			firstName = string.Empty,
			lastName = string.Empty,
			birthDate = DateTime.Now,
			email = string.Empty,
			subjectUnit = string.Empty,
			Education = string.Empty,
			Specialization = string.Empty
		};
}
