@page "/profile"
@using System.ComponentModel.DataAnnotations
@using Classes
@inject Classes.Interfaces.IEducators educators

@rendermode InteractiveServer

<!--Mulig døpe om denne siden til profile
	koble denne lokale klassen og formen til en global klasse og service for å lagre data i database
	Kanskje lagre den i en liste i en service. 
-->
<head>
	<style>
		input {
			margin-bottom: 10px;
			width: 20%;
			height: 30px;
			font-size: 16px;
			padding: 5px;
		}
	</style>
</head>

<PageTitle>Profile</PageTitle>

<h1>Profil</h1>
	<input type="text" placeholder="Fornavn" @bind="inputModel.FirstName" /><br />
<input type="text" placeholder="Etternavn" @bind="inputModel.LastName" />
<br />
<input type="email" placeholder="E-post" @bind="inputModel.Email" />
<br />
<input type="date" placeholder="fødselsdato" @bind="inputModel.BirthDate" />
<br />
<input type="text" placeholder="Utdanningsbakgrunn" @bind="inputModel.Education" />
<br />
<input type="text" placeholder="Spesialisering" @bind="inputModel.Specialization" />
<br />
<button class="btn btn-primary" @onclick="() => AddProfile()" style="width:20%">Submit</button>


@code {
	
	private Educator inputModel = new Educator();
	private void AddProfile()
	{
		Educator educator = new Educator();

		educators.AddEducator(educator);
		// Clear the form
	}
}
