@page "/ListingTopics"
@using System.ComponentModel.DataAnnotations
@inject ListField fields
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS


<h3>Emne oversikt</h3>

<table>
		<thead>
		<tr>
			<th> Emne kode</th>
			<th>Emne navn</th>
			<th>Emne beskrivelse</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr id="Editrow">
			<td>
				<input id="InputTopicID" type="text" @bind="newField.FieldID" />
			</td>
			<td>
				<input id="InputTopicTitle" type="text" @bind="newField.FieldTitle" />
			</td>
			<td>
				<input id="InputTopicDescription" type="text" @bind="newField.FieldDescription" />
			</td>
			<td>
				<button class="btn btn-primary" @onclick="() => AddTopic()"><i class="bi bi-plus-lg"></i></button>
			</td>
		</tr>
		@if(fields == null || fields.Count ==0)
		{
			<tr>
				<td colspan="4"> Ingen emner lagt til. </td>
			</tr>
		}
		else
		{
			@foreach(var field in fields.listFields)
			{
				<tr>
					<td> @field.FieldID </td>
					<td> @field.FieldTitle </td>
					<td> @field.FieldDescription </td>
					<td>
						<button class="btn btn-primary" @onclick="() => DeleteRow(field)"><i class="bi bi-trash"></i></button>
					</td>
					<td>
						<button class="btn btn-primary" @onclick="() => UpdateRow(field)"><i class="bi bi-pencil"></i></button>
					</td>
				</tr>
			}
		}		
	</tbody>
</table>


@code {



	private Field newField = new Field();


	private void AddTopic()
	{
		if (fields.FindFieldByID(newField.FieldID) != null)
		{
			Field existingTopic = new Field
			{
				FieldID = newField.FieldID,
				FieldTitle = newField.FieldTitle,
				FieldDescription = newField.FieldDescription
			};
			fields.UpdateField(existingTopic);
		}
		else
		{
			fields.AddField(newField);
		}
	}

	private void DeleteRow(Field removefield)
	{
		if(removefield != null)
		{
			fields.RemoveField(removefield); 
			
		}
	}
		
	

	private void UpdateRow(Field field)
	{
		newField.FieldID = field.FieldID;
		newField.FieldTitle = field.FieldTitle;
		newField.FieldDescription = field.FieldDescription;
	}

}
