@page "/ListingSubjects"
@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.ISubjects subjects
@inject Components.Services.SelectedSubjectService selectedSubjectService
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS



<h3>Emner</h3>

<table class="table">
		<thead>
		<tr>
			<th>Emne kode</th>
			<th>Emne</th>
			<th>Beskrivelse</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr id="Editrow">
			<td>
				<input id="InputTopicID" type="text" @bind="newSubject.SubjectCode" />
			</td>
			<td>
				<input id="InputTopicTitle" type="text" @bind="newSubject.SubjectName" />
			</td>
			<td>
				<input id="InputTopicDescription" type="text" @bind="newSubject.SubjectDescription" />
			</td>
			<td>
				<button class="btn btn-primary" @onclick="() => AddSubject()"><i class="bi bi-plus-lg"></i></button>
			</td>
		</tr>
		@if(subjects == null || subjects.CountSubjects() ==0)
		{
			<tr>
				<td colspan="5"> Ingen emner funnet. </td>
			</tr>
		}
		else
		{
			@foreach(var subject in subjects.GetSubjects())
			{
				<tr>
					<td> @subject.SubjectCode </td>
					<td> @subject.SubjectName </td>
					<td> @subject.SubjectDescription </td>
					<td>
						<button class="btn btn-primary" @onclick="() => DeletRow(subject)"><i class="bi bi-trash"></i></button>
					</td>
					<td>
						<button class="btn btn-primary" @onclick="() => EditRow(subject)"><i class="bi bi-pencil"></i></button>
					</td>
					<td>
						<button class="btn btn-primary" @onclick="() => Navigate(subject)"><i class="bi bi-caret-right-fill"></i></button>
					</td>
				</tr>
			}
		}
	</tbody>
</table>



@code {

	private Subject newSubject = new Subject();

	private void AddSubject()
	{
		if(subjects.FindSubjectByCode(newSubject.SubjectCode) != null)
		{
			Subject existingSubject = newSubject;
			subjects.UpdateSubject(existingSubject);
		}
		else
		{
			subjects.AddSubject(newSubject);
		}
		newSubject = new Subject();
	}

	private void DeletRow(Subject removeSubject)
	{
		if(removeSubject != null)
		{
			subjects.RemoveSubject(removeSubject);
		}
	}

	private void EditRow(Subject updateSubject)
	{
		newSubject = updateSubject;
	}

	private void Navigate(Subject subject)
	{
		selectedSubjectService.Set(subject);
		JS.InvokeVoidAsync("location.replace", "/statistic-subject");
	}

}
