@page "/addingeducator"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer


<h3>ListingEducator</h3>

<!-- Dette er siden for å liste opp alle faglige ansatte. 
	vurderes å sortere de etter fagenhet.
	Bruke en tabell for å vise informasjonen.
	Det skal være mulig å redigere og slette en fagperson fra denne siden.
	Det skal være mulig å legge til ny fagperson. Dette kan være ny metode eller linke til AddingEducator siden. 
-->

@code {

}
