@page "/ListingCategories"
@using System.ComponentModel.DataAnnotations
@inject ListCategory categories

@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Undervisnings kategorier</h3>

<table>
	<thead>
		<tr>
			<th>Kategori</th>
			<th> Beskrivelse</th>
			<th> timemultiplikator</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr id="Editrow">
			<td>
				<input id="InputCategoryName" type="text" @bind="newCategory.CategoryName" />
			</td>
			<td>
				<input id="InputDescription" type="text" @bind="newCategory.Description" />
			</td>
			<td>
				<input id="InputTimeMultiplier" type="number" step="0.01" @bind="newCategory.HoursMultiplier" />
			</td>
			<td>
				<button class="btn btn-primary" @onclick="() => AddCategory()"><i class="bi bi-plus-lg"></i></button>
			</td>
		</tr>
		@if(categories == null || categories.Count ==0)
		{
			<tr>
				<td colspan="5"> Ingen kategorier lagt til. </td>
			</tr>
		}
		else
		{
			@foreach(var category in categories.listCategoires)
			{
				<tr>
					<td> @category.CategoryName </td>
					<td> @category.Description </td>
					<td> @category.HoursMultiplier </td>
					<td>
						<button class="btn btn-primary" @onclick="() => DeleteRow(category)"><i class="bi bi-trash"></i></button>
					</td>
					<td>
						<button class="btn btn-primary" @onclick="() => UpdateRow(category)"><i class="bi bi-pencil"></i></button>
					</td>

				</tr>
			}
		}
	</tbody>
</table>


@code {

	private class CategoryModel
	{
		public string CategoryName { get; set; } = string.Empty;
		public string Description { get; set; } = string.Empty;
		public int HoursMultiplier { get; set; } = 1;
	}

	private CategoryModel newCategory = new CategoryModel();

	private void AddCategory()
	{

		if(categories.FindCategory(newCategory.CategoryName)!= null)
		{
			EducationCategory existingCategory = new EducationCategory(newCategory.CategoryName,newCategory.Description, newCategory.HoursMultiplier);
			categories.UpdateCategory(existingCategory);
		}
		else
		{
			EducationCategory category = new EducationCategory(newCategory.CategoryName, newCategory.Description, newCategory.HoursMultiplier);
			categories.AddCategory(category);

		}
		
	}

	private void DeleteRow(EducationCategory RemoveCategory)
	{
		if(RemoveCategory != null)
		{
			categories.RemoveCategory(RemoveCategory);
		}

	}

	private void UpdateRow(EducationCategory UpdateCategory)
	{
		newCategory.CategoryName = UpdateCategory.CategoryName;
		newCategory.Description = UpdateCategory.Description;
		newCategory.HoursMultiplier = UpdateCategory.HoursMultiplier;
	}
}
