@page "/educatorlist"
@using System.ComponentModel.DataAnnotations
@inject EducatorList educators
@inject CategoryList categories

@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Liste forelesere</h3>



@code {

}
