@page "/StatisticField"
@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Components.Services.SelectedFieldService selectedFieldService
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Oversikt @selectedFieldService.Current.FieldTitle</h3>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Dato</th>
			<th>Aktivitets navn</th>
			<th> Antall timer</th>
			<th> Kategori</th>
			<th> Beregnet tid</th>
			<th>Emnekode</th>
			<th>Fagenhet</th>
			<th>Beskrivelse</th>
			<th>Foreleser</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>

</table>

@code {

	
	private float totalHoursFall(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateFrom.Year;
		DateTime lastDate = new DateTime(year, 12, 31);

		foreach (var activity in activities)
		{
			if ((activity.FieldTitle == activity.FieldTitle) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < lastDate))
			{
				total += activity.CalculatedHours;
			}
		}


		return total;
	}

	private float totalHoursSpring(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateTo.Year;
		DateTime firstDate = new DateTime(year, 1, 1);

		foreach (var activity in activities)
		{
			if ((activity.FieldTitle == selectedField.FieldTitle) && (firstDate < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				total += activity.CalculatedHours;
			}
		}

		return total;
	}

	private float totalHours(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;

		foreach (var activity in activities)
		{
			if ((activity.FieldTitle == selectedField.FieldTitle) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				total += activity.CalculatedHours;
			}
		}


		return total;
	}

	private int CountActivities(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		int count = 0;

		foreach (var activity in activities)
		{
			if ((activity.FieldTitle == selectedField.FieldTitle) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				count += 1;
			}
		}

		return count;
	}

	private float AverageHoursPerActivity(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		int count = CountActivities(selectedField, activities, dateFrom, dateTo);
		if (count == 0)
		{
			return 0;
		}
		return totalHours(selectedField, activities, dateFrom, dateTo) / count;
	}
}
