@page "/statistic-subject"
@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Components.Services.SelectedSubjectService selectedSubjectService	
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Oversikt for @selectedSubjectService.Current.SubjectCode @selectedSubjectService.Current.SubjectName </h3>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Dato</th>
			<th>Aktivitets navn</th>
			<th> Antall timer</th>
			<th> Kategori</th>
			<th> Beregnet tid</th>
			<th>Emnekode</th>
			<th>Fagenhet</th>
			<th>Beskrivelse</th>
			<th>Foreleser</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>

</table>


@code {

	private float totalHoursFall(Subject selectedSubject, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateFrom.Year;
		DateTime lastDate = new DateTime(year, 12, 31);
		
		foreach(var activity in activities)
		{
			if ((activity.SubjectCode == selectedSubject.SubjectCode)&&(dateFrom<activity.ActivityDate)&&(activity.ActivityDate<lastDate))
			{
				total += activity.CalculatedHours;
			}
		}
		

		return total;
	}

	private float totalHoursSpring(Subject selectedSubject, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateTo.Year;
		DateTime firstDate = new DateTime(year, 1, 1);

		foreach(var activity in activities)
		{
			if ((activity.SubjectCode == selectedSubject.SubjectCode)&&(firstDate<activity.ActivityDate)&&(activity.ActivityDate<dateTo))
			{
				total += activity.CalculatedHours;
			}
		}
		
		return total;
	}

	private float totalHours(Subject selectedSubject, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		
		foreach(var activity in activities)
		{
			if ((activity.SubjectCode == selectedSubject.SubjectCode)&&(dateFrom<activity.ActivityDate)&&(activity.ActivityDate<dateTo))
			{
				total += activity.CalculatedHours;
			}
		}
		

		return total;	
	}

	private int CountActivities(Subject selectedSubject, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		int count = 0;

		foreach(var activity in activities)
		{
			if ((activity.SubjectCode == selectedSubject.SubjectCode)&&(dateFrom<activity.ActivityDate)&&(activity.ActivityDate<dateTo))
			{
				count += 1;
			}
		}
				
		return count;
	}

	private float AverageHoursPerActivity(Subject selectedSubject, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		int count = CountActivities(selectedSubject, activities, dateFrom, dateTo);
		if (count == 0)
		{
			return 0;
		}
		return totalHours(selectedSubject, activities, dateFrom, dateTo) / count;
	}

}
