@page "/StatisticEducator"

@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Classes.Interfaces.IEducators educators
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS


<h3>Oversikt din aktivitet</h3>



@code {

}
