@page "/StatisticEducator"

@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Classes.Interfaces.IEducators educators
@inject Classes.Educator selectedEducator
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS


<h3>Oversikt din aktivitet</h3>



@code {

	private float totalHoursFall(Educator selectedEducator, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateFrom.Year;
		DateTime lastDate = new DateTime(year, 12, 31);

		foreach (var activity in activities)
		{
			if ((activity.EducatorFullName == selectedEducator.FullName) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < lastDate))
			{
				total += activity.CalculatedHours;
			}
		}


		return total;
	}

	private float totalHoursSpring(Educator selectedEducator, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateTo.Year;
		DateTime firstDate = new DateTime(year, 1, 1);

		foreach (var activity in activities)
		{
			if ((activity.EducatorFullName == selectedEducator.FullName) && (firstDate < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				total += activity.CalculatedHours;
			}
		}

		return total;
	}

	private float totalHours(Educator selectedEducator, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;

		foreach (var activity in activities)
		{
			if ((activity.EducatorFullName == selectedEducator.FullName) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				total += activity.CalculatedHours;
			}
		}


		return total;
	}

	private int CountActivities(Educator selectedEducator, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		int count = 0;

		foreach (var activity in activities)
		{
			if ((activity.EducatorFullName == selectedEducator.FullName) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				count += 1;
			}
		}

		return count;
	}


	private float AverageHoursPerActivity(Educator selectedEducator, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		int count = CountActivities(selectedEducator, activities, dateFrom, dateTo);
		if (count == 0)
		{
			return 0;
		}
		return totalHours(selectedEducator, activities, dateFrom, dateTo) / count;
	}

}
