@page "/StatisticField"
@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Classes.Interfaces.IFields fields
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Oversikt Fagfelt</h3>

@code {

}
